<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/comments.css" rel="stylesheet">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>

<body>
    <h1 class="gradient-title post-title">Title</h1>
    <div class="comment-section container">
        <div class="comment">
            <h2 class="author">Fisher</h2>
            <div class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt fugiat quas tempore
                voluptates amet. Error quos totam sint mollitia itaque voluptas, similique libero, suscipit dolorem
                dignissimos voluptatum, consectetur ab minus!
            </div>
            <div class="reply">
                <h2 class="author">Fisher</h2>
                <div class="post-content reply-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptates nisi, modi voluptatem quibusdam officiis tempore ad sequi aliquid eius repellendus sit dolor asperiores voluptas rem harum saepe eveniet accusantium.</div>
            </div>
            <div class="reply-2">
                <h2 class="author">Fisher</h2>
                <div class="post-content reply-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptates nisi, modi voluptatem quibusdam officiis tempore ad sequi aliquid eius repellendus sit dolor asperiores voluptas rem harum saepe eveniet accusantium.</div>
            </div>
            <div class="reply">
                <h2 class="author">Fisher</h2>
                <div class="post-content reply-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptates nisi, modi voluptatem quibusdam officiis tempore ad sequi aliquid eius repellendus sit dolor asperiores voluptas rem harum saepe eveniet accusantium.</div>
            </div>
        </div>
    </div>

    <div class="comment-section container">
        <div class="comment">
            <h2 class="author">Fisher</h2>
            <div class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt fugiat quas tempore
                voluptates amet. Error quos totam sint mollitia itaque voluptas, similique libero, suscipit dolorem
                dignissimos voluptatum, consectetur ab minus!
            </div>
            <div class="reply">
                <h2 class="author">Fisher</h2>
                <div class="post-content reply-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptates nisi, modi voluptatem quibusdam officiis tempore ad sequi aliquid eius repellendus sit dolor asperiores voluptas rem harum saepe eveniet accusantium.</div>
            </div>
            <div class="reply-2">
                <h2 class="author">Fisher</h2>
                <div class="post-content reply-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptates nisi, modi voluptatem quibusdam officiis tempore ad sequi aliquid eius repellendus sit dolor asperiores voluptas rem harum saepe eveniet accusantium.</div>
            </div>
            <div class="reply">
                <h2 class="author">Fisher</h2>
                <div class="post-content reply-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptates nisi, modi voluptatem quibusdam officiis tempore ad sequi aliquid eius repellendus sit dolor asperiores voluptas rem harum saepe eveniet accusantium.</div>
            </div>
        </div>
    </div>
</body>
<script src="javascript/navbar.js"></script>

</html>