<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowledge Sharing</title>
    <link href="css/style.css" rel="stylesheet">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<style>
</style>
<body>

<div class="container">
    <h1 class="title gradient-title">Deeper Learning</h1>
    <button id="create-post" class="create-post">Create Post</button>
    <div class="search-area">
        <input placeholder="Search..." dir="auto" type="text" class="search">
        <button class="search-button">Search</button>
    </div>
    <div class="categories">
        <div class="category-area">
            <label for="category-1" class="category-label">Category 1</label>
            <input type="checkbox" class="category-checkbox" name="category-1" id="">
        </div>
        <div class="category-area">
            <label for="category-2" class="category-label">Category 2</label>
            <input type="checkbox" class="category-checkbox" name="category-2" id="">
        </div>
        <div class="category-area">
            <label for="category-3" class="category-label">Category 3</label>
            <input type="checkbox" class="category-checkbox" name="category-3" id="">
        </div>
        <div class="category-area">
            <label for="category-4" class="category-label">Category 4</label>
            <input type="checkbox" class="category-checkbox" name="category-4" id="">
        </div>
    </div>
</div>
</body>
<script src="/javascript/navbar.js"></script>
<script src="/javascript/index.js"></script>
</html>