<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Post</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/view-post.css" rel="stylesheet">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>
<!--    <h1 class="title">Title</h1>-->
<!--    <div class="container">-->
<!--        <p class="answer-content">-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro consequatur quia excepturi ipsa minus ex,-->
<!--            neque reiciendis cum amet suscipit. Dolor possimus et debitis ex quidem magni dolores nihil sed omnis-->
<!--            libero! Maiores, sapiente nisi. Rerum tempore nobis expedita iste ipsa temporibus reiciendis corrupti-->
<!--            tenetur neque. Culpa laborum explicabo velit.-->
<!--        </p>-->
<!--    </div>-->
<!--    <div class="comment-container">-->
<!--        <button class="comment-section feedback">Feedback</button>-->
<!--        <button class="comment-section help">Help</button>-->
<!--        <button class="comment-section discussion">Discussion</button>-->
<!--    </div>-->
</body>
<script src="/javascript/navbar.js"></script>
<script src="/javascript/view-post.js"></script>
</html>